@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    overflow-x:hidden;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to right, rgb(255,255,255), rgb(254,215,173));
}

nav{
    width: 100%;
    padding: 20px 8%;
    height: 10vh;
    top: 0;
    left: 0;
    position: fixed;
}


.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}

.logo span{
    color: rgb(109,67, 0);
    text-shadow: 0 0 10px rgb(109,67, 0);
}

.hamburg{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
    touch-action: manipulation;
}

.nav-container .links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(109,67, 0);
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .contact-btn{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid rgb(109,67, 0);
    transition: 0.2s linear;
}

.nav-container .contact-btn a{
    color: white;
    transition: 0.3s linear;
}

.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a{
    background-color: rgb(109,67, 0);
    color: white;
}

.nav-container .links a:hover{
    color: rgb(109,67, 0);
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown.open {
    display: block;
}   

.dropdown .links{
    display: flex;
    flex-direction: column;
    text-align: center;
}    

.dropdown .links a{
    color: white;
    text-decoration: none;
    padding: 15px 0;
}

.dropdown .links a:hover{
    background-color: rgb(109,67, 0);
}

.cancel{
    color: white;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
    touch-action: manipulation;
}


section{
    min-height: 100vh;
    padding: 60px 20px;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image{
    z-index: -1;
    width: 50%;
}

.main-container .image img{
    width: 100%;
    transform: translateX(30px);
}



.main-container .content{
    color: black;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.content h1 span{
    color: rgb(109,67, 0);
    text-shadow: 0 0 10px rgb(109,67, 0);
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
}

.content .typewriter span{
    color: rgb(109,67, 0);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgb(109,67, 0);
    position: relative;
    transition: 0.3s linear;
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color:transparent;
    border: 0.2rem solid rgb(109,67, 0);
    border-radius: 50%;
    color:rgb(109,67, 0);
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: white;
    background-color: rgb(109,67, 0);
    filter: drop-shadow(0 0 10px rgb(109,67,0));
}

.btn-container{
    display:inline-block;
    padding: 10px 20px;
    background-color: rgb(109,67, 0);
    color:white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-container:hover{
 scale: 1.1;
 color: rgb(109,67, 0);
 border: 2px solid rgb(109,67, 0);
 background-color: transparent;
 font-weight: 700;
 box-shadow: 0 0 40px rgb(109,67, 0);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-bottom: 10px;
}

.company {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}

.project-link {
    display: inline-block;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.project-link:hover {
    text-decoration: underline;
}

.home-link{
    display: inline-block;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}


@media (max-width:884px) {
    body{
        overflow-y: visible;
    }

    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .cancel{
        color: white;
    }

    .dropdown.open .cancel {
    display: block;
}

    .main-container .image{
        width: 80%;
        margin-bottom: 0px;
    }

}


